@tailwind base;
@tailwind components;
@tailwind utilities;



:root {

  text-align: center;
  font-family: "Lato", sans-serif;
  background-color: #FAFAFA;
  background-image: url(https://images7.alphacoders.com/125/1254946.jpg);

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    background-color: var(--light-grey);
  
  

  
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}

header {
  display: flex;
  justify-content: space-between;
  
  background-color: #1f5156;
  height: 80px;


  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.welcome {
  /* background-image: url(https://thumbs.dreamstime.com/b/vector-pink-sky-clouds-anime-clean-style-evening-sunset-background-234335822.jpg); */
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 5px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  background-image: url(https://thumbs.dreamstime.com/b/vector-pink-sky-clouds-anime-clean-style-evening-sunset-background-234335822.jpg); */
}

.click{
  font-weight: 800;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  color: transparent;
  font-size: 40px;
  margin: 0 10px;
  padding: 12px 5px;
  display: inline-block;
  line-height: 1;
  background-image: url(https://thumbs.dreamstime.com/b/vector-pink-sky-clouds-anime-clean-style-evening-sunset-background-234335822.jpg);
}
header a {
  
  font-weight: 800;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  color: transparent;
  font-size: 40px;
  margin: 0 10px;
  padding: 12px 5px;
  display: inline-block;
  line-height: 1;
}

/* main {
  margin: 1rem;
} */

form {
  /* background-color: #000000;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 5em;
  padding: 0 1rem 1rem;
  background-image: url(https://images7.alphacoders.com/125/1254946.jpg);  */
}

.form1 {
  background-color: #000000;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  color: white;
  margin-top: 3em;
  margin-bottom: 5em;
  padding: 0 1rem 1rem;
  background-image: url(https://picstatio.com/large/95da7f/dark-sunset-sky-anime-girl-outdoor-art.jpg); 
}

.form2 {
  background-color: #000000;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  color: white;
  margin-top: 3em;
  margin-bottom: 5em;
  padding: 0 1rem 1rem;
  background-image: url(https://ih0.redbubble.net/image.755067291.0854/flat,800x800,075,f.u1.jpg); 
}

.form4 {
  background-color: #000000;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  color: white;
  margin-top: 3em;
  margin-bottom: 5em;
  padding: 0 1rem 1rem;
  background-image: url(https://ih0.redbubble.net/image.755067291.0854/flat,800x800,075,f.u1.jpg); 
}

.form7 {
  background-color: #000000;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  color: white;
  margin-top: 3em;
  margin-bottom: 5em;
  padding: 0 1rem 1rem;
  background-image: url(https://ih0.redbubble.net/image.755067291.0854/flat,800x800,075,f.u1.jpg); 
}

.form8 {
  background-color: #000000;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  color: white;
  margin-top: 3em;
  margin-bottom: 5em;
  padding: 0 1rem 1rem;
  background-image: url(https://ih0.redbubble.net/image.755067291.0854/flat,800x800,075,f.u1.jpg); 
}

.cardContainer {
height: 100%;
width: auto;
display: inline-flex;
}

form input {
  height: 50px;
  margin: 0.25rem 0;
}

form button[type="submit"] {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(12, 12, 12);
  font-weight: bold;
  font-size: 20px;
}

.signup, .login{
  display: flex;
  justify-content: center;
  color: rgb(25, 25, 25);
}

.container {
  /* position: relative;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.468);
  border: 2px solid rgb(0, 0, 0);
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  color: #f6f6f6;
  font-size: large;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease; */
  
}

::placeholder {
  /* color: rgb(0, 0, 0);
  font-weight: bold */
}



.signUpE li {
  color: red;
  display: flex;
  justify-content: center;
  margin: 1em
}

.login {
  color: rgb(0, 0, 0);
}

.loginE {
    color: red;
    display: flex;
    justify-content: center;
  }


  .card {
    /* display: grid;
 
    grid-template-columns: repeat(3, 1fr);
     
    grid-auto-rows: auto;
    position: relative;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: rgb(87, 59, 59);
    border: 2px solid rgb(0, 0, 0);
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/965/883/624/manga-one-piece-wallpaper-preview.jpg);
    
   */
  
  }

    .allCards{
   
      
      flex-direction: row;
      color: white; 
      display: flex;
      width: 100vw;



  

    
  }

  /* h1 {
    margin: 10px;
    font-size: 40px;
  }

  p {
    font-size: 20px;
    margin: 20;
    visibility: hidden;
    opacity: 0;

  } */

  span {
font-weight: bold;
}

  img {
   height: 500px;
   width: 350px;
   border-radius: 3px;
 } 

 .update{
  border-radius: .3em;
  margin-left: .4em;
}

.deleteBtn{
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid lighten(gray, 24%);
  height: 48px;
  padding: 0 24px 0 16px;
  letter-spacing: .25px;
  border-radius: 24px;
  cursor: pointer;
  color: #f1f1f1;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/965/883/624/manga-one-piece-wallpaper-preview.jpg);
  
}

.addToCart {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid lighten(gray, 24%);
  height: 48px;
  padding: 0 24px 0 16px;
  letter-spacing: .25px;
  border-radius: 24px;
  cursor: pointer;
  color: #f1f1f1;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/965/883/624/manga-one-piece-wallpaper-preview.jpg);
  
}

.update {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid lighten(gray, 24%);
  height: 48px;
  padding: 0 24px 0 16px;
  letter-spacing: .25px;
  border-radius: 24px;
  cursor: pointer;
  color: #f1f1f1;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/965/883/624/manga-one-piece-wallpaper-preview.jpg);
  
}

.welcome {
  display: flexbox;
  font-size: smaller;
  position: middle;
  columns: auto;
  color: #ffffff;

  
}

.BookSearch{
  background-color: #000000;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  margin: 40px auto;
  line-height: 56px;
  position: relative;
  

  
  background-image: url(https://thumbs.dreamstime.com/b/vector-pink-sky-clouds-anime-clean-style-evening-sunset-background-234335822.jpg); 
 
  
}

.labelName {
  position: middle;
}

.card1 {
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  float: left;
  width: calc(25% - 20px);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  height: 200px;
  content: "";
  display: table;
  clear: both;
  background-color: #000000;
  flex-direction: column;
  
  


}

.container1 {
  /* content: "";
      display: inline-flex;
      clear: both;
  margin-bottom: 2rem;
  font-size: larger;
  border: 3px solid #fff;
    padding: 20px;
  background-image: url(https://wallpaperaccess.com/full/2668714.jpg);
  */
  margin-bottom: 2rem;
  font-size: larger;
  border: 3px solid #fff;
 
}

.card2 {
  display: grid;
 
    grid-template-columns: repeat(3, 1fr);
     
    grid-auto-rows: auto;
    position: relative;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: rgb(87, 59, 59);
    border: 2px solid rgb(0, 0, 0);
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/965/883/624/manga-one-piece-wallpaper-preview.jpg);
    


}

.container2 {
  position: relative;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.468);
  border: 2px solid rgb(0, 0, 0);
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  color: #f6f6f6;
  font-size: large;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;

 
}


/* .form-title,
.input {
  font-family: "Montserrat", sans-serif;
}

.form-title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: #888;
}

.form-container {
  margin-top: 20px;
  display: flex;
  grid-gap: 32px;
  gap: 32px;
} */

/* input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
}

.inputTextBox {
  width: 50%;
}

.add-book-button {
  cursor: pointer;
  width: 20%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
} */

.books {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  gap: 1rem;
}

.book {
  background-image: url(https://png.pngtree.com/background/20211217/original/pngtree-royal-golden-blue-mandala-art-background-with-border-invitation-card-wedding-picture-image_1596347.jpg);
  border-radius: 4px;
  border: 1px solid #000000;
  padding: 2rem;
}

.book-content {
  display: flex;
  justify-content: space-between;
  background-color: #ffffffe4;
  
}

.book-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.book-category {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}

.book-title {
  margin-top: 0.188rem;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
}

.book-author {
  font-size: larger;
  font-weight: 300;
  color: #4386bf;
}

.book-author,
.book-title {
  font-family: "Roboto Slab", serif;
}

.book-category,
.book-title {
  font-weight: 700;
  color: #121212;
}

.container-buttons {
  display: flex;
  align-items: center;
  margin-top: 1.313rem;
  gap: 20px;
}

.action-button {
  font-family: "Roboto Slab", serif;
  background-color: transparent;
  border: none;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
  align-items: center;
  cursor: pointer;
}

.vertical-divider {
  width: 0.125rem;
  height: 1.5rem;
  background-color: #e8e8e8;
  margin: 0 1rem;
}

.progress-container {
  display: flex;
  align-items: center;
}

.circular-progress-container {
  width: 5.625rem;
  height: 5.625rem;
  padding: 0.63rem 0.625rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress {
  position: absolute;
  border: solid 5px #307bbe;
  border-left-color: #e8e8e8;
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  transform: rotate(45deg);
}

.completed,
.percent-complete {
  font-family: "Montserrat", sans-serif;
  color: #121212;
}

.percent-complete {
  font-size: 2rem;
}

.completed {
  font-size: 0.875rem;
  opacity: 0.5;
}

.progress-divider {
  width: 0.125rem;
  height: 4.375rem;
  margin: 0 3.688rem 0 4.938rem;
  background-color: #e8e8e8;
}

.current-chapter-container {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
  width: 25rem;
}

.current-chapter-label {
  font-size: 0.813rem;
  opacity: 0.5;
}

.current-chapter-number {
  margin-top: 0.438rem;
  font-size: 1rem;
  letter-spacing: -0.4px;
}

.current-chapter-number,
.current-chapter-label {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #121212;
}

.update-progress-button {
  width: 75%;
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}

.cardM-1 {
  display: grid;
 
    grid-template-columns: repeat(3, 1fr);
     
    grid-auto-rows: auto;
    position: relative;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: rgb(87, 59, 59);
    border: 2px solid rgb(0, 0, 0);
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/965/883/624/manga-one-piece-wallpaper-preview.jpg);
    
}


.header { 
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  width: 100%;
  border-bottom: 5px solid rgb(255, 255, 255);
  
 
  background-image: url(https://images7.alphacoders.com/125/1254946.jpg);
  color: #000000;
}

.header__nav {
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  width: 100%;
  height: 60px;
}

.nav__button {
  border: none;
  color: var(--white);
  font-weight: var(--demi-bold);
  font-size: var(--font-20);
  background: transparent;
  cursor: pointer;
  margin-right: var(--margin-48);
}

.title {
  text-align: center;
  margin-top: var(--margin-28);

}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow:  2px 4px 4px var(--grey);
  margin: var(--margin-28);
  --dark-red: #cc0000;
  --light-grey: #f3f3f3;
  --purple: #5e6ec9;
  --dark-blue: rgb(17, 97, 201);
  --grey: #c5c5c5;
  --black: #111111;
  --white: #ffffff;
}

.product__img {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  border-radius: 20px 20px 14px 14px;
}

.product__name, .item__name {
  font-weight: var(--bold);
  font-size: var(--font-20);
  margin-top: var(--margin-28);
}

.product__description {
  margin: calc(var(--margin-28)*0.3);
}

.button {
  height: 40px;
  width: 170px;
  border-radius: 20px;
  padding: var(--padding-10);
  border: none;
  color: var(--white);
  font-weight: var(--bold);
  cursor: pointer;
}

.button--add, .button--checkout{
  background-color: var(--dark-blue);
  margin-bottom: var(--margin-28);
}

.button--remove {
  border: solid 2px var(--dark-red);
  background:transparent;
  color: var(--black);
  padding: 0 var(--padding-5);
}

.button--remove:hover {
  background-color: var(--dark-red);
  color: var(--white);
}

.button--checkout:hover {
  background-color: var(--purple);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  --margin-28: 28px;
  --margin-48: 48px;
  --padding-5: 5px;
  --padding-10: 10px;
  --padding-20: 20px;
  --padding-40: 40px;
  --font-18: 18px;
  --font-20: 20px;
  --font:'Nunito', sans-serif;
  --demi-bold: 600;
  --bold: 700;
  --dark-red: #cc0000;
  --light-grey: #f3f3f3;
  --purple: #5e6ec9;
  --dark-blue: rgb(17, 97, 201);
  --grey: #c5c5c5;
  --black: #111111;
  --white: #ffffff;
}

.cart {
  padding: var(--padding-20);
}

.item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 60px;
}


