@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(249, 249, 249, 0.87);
  /* background-image: url(https://wallpaperaccess.com/full/5056828.jpg), url(https://wallpaperaccess.com/full/5056828.jpg); */
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 5px solid rgb(103, 73, 103);
  background-color: rgb(228, 201, 228);
  
}

.click{
  background-color: #fc6bf8;
  border: none;
  font-weight: bold;
  color: rgb(78, 248, 101);
  font-size: 17px;
}
header a {
  font-size: 17px;
  display: inline-block;
  background-color: #fffdff;
  border: 5px solid rgb(1, 1, 1);
  margin: 2rem;
  padding: 1rem;
  text-decoration: none;
  color: rgb(14, 14, 14);
  font-weight: bold;
  cursor: pointer;
  width: 70px;
  text-align: center;
  border-radius: 1em;
}

/* main {
  margin: 1rem;
} */

form {
  background-color: #e2bae4;
  border: 10px solid rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 350px;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 5em;
  padding: 0 1rem 1rem;
  
}

form input {
  height: 50px;
  margin: 0.25rem 0;
}

form button[type="submit"] {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(12, 12, 12);
  font-weight: bold;
  font-size: 20px;
}

.signup, .login{
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}



::placeholder {
  color: rgb(107, 57, 245);
  font-weight: bold
}

.welcome {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: yellow;
  background-color: black;
}

.signUpE li {
  color: red;
  display: flex;
  justify-content: center;
  margin: 1em
}

.loginE {
    color: red;
    display: flex;
    justify-content: center;
  }


 

    .allCards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    
  }

  img {
    border-radius: 5px 5px 0 0;
    width: 310px;
    border-bottom: 2px solid rgb(4, 4, 4);
 } 